n8n-workflows/import-siac.json
{
  "name": "EduSAEP - Importação SIAC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-siac",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Processar Arquivo",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sua-api.com/api/import",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Enviar para EduSAEP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Processar Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Arquivo": {
      "main": [
        [
          {
            "node": "Enviar para EduSAEP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": ["EduSAEP", "SIAC"]
}
